.news-img{
    width: 27rem;
}

.summary{
    background-color: rgb(218, 218, 218);
}









/*MEDIA QUERIES*/
@media only screen and (max-width: 990px){
    .title-box{
        margin-top: 20px;
    }
}